.env
.env.*
!.env.example

.Python
__pycache__/
*.py[cod]
*$py.class
*.so

.venv/
venv/
env/
ENV/

build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

.mypy_cache/
.ruff_cache/
.pytest_cache/
.pytype/
.coverage
.coverage.*
htmlcov/
coverage.xml
*.cover
.hypothesis/
.tox/
.nox/

*.log
logs/

.ipynb_checkpoints/

.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

*.swp
*.swo
*~
